{% extends 'superuser/layout.html' %}<!---->

{% block title %} Users {% endblock title %}<!---->
{% block style %}
<style></style>
{% endblock style %} {% block content %}

<!--[container-fluid]-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </div>
  <div class="row" id="hiddensm">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush" id="dataTable">
            <thead class="thead-light">
              <tr>
                <th>Username</th>
                <th>email</th>
                <th>Balance</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for obj in users %}
              <tr>
                <td>
                  <a href="#">{{obj.get_fullname}}</a>
                </td>
                <td>{{obj.email}}</td>
                <td>
                  <span class="badge badge-success"
                    >${{obj.format_balance}}</span
                  >
                </td>
                <td>
                  <a href="{% url 'admin-users-details' pk=obj.id %}"
                    >Details</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="hiddenxl">
    {% for obj in users %}
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="{% url 'admin-users-details' pk=obj.id %}" class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{obj.get_fullname}}
              </div>
              <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-success mr-2"
                  ><i class="fa"></i>${{obj.balance}}</span
                >
                <span>Joined {{obj.date_joined|timesince}}</span>
              </div>
            </div>
            <div class="col-auto">
              <img
                class="img-profile rounded-circle"
                src="{{obj.image_url}}"
                style="max-width: 42px"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<!--[container-fluid ends]-->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span
        >copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        - developed by
        <b><a href="#" target="_blank">Sammy</a></b>
      </span>
    </div>
  </div>
</footer>
<!-- Footer -->

{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    $("#dataTable").DataTable(); // ID From dataTable
  });
</script>
{% endblock script %}
